# 404 Error page redirect
ErrorDocument 404 /assignments/weathersite/404-error.html

#Deny List
        
order allow,deny
deny from 123.123.123.123 #specify a specific address
deny from 123.123.123.123/30 #specify a subnet range
deny from 123.123.* #specify an IP address wildcard
allow from all