* { box-sizing: border-box;}
body {padding: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    }

table {
    box-shadow: 5px 10px 20px gray;
    width:auto;}
thead { font-size: 1.5em;}
tfoot {font-size: .7em;}
tbody {}

table, th, td {
    border: 1px solid #c1a476;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    text-align: center;
}

tr:nth-child(6) td:nth-child(1) {font-style: oblique;}
tr:nth-child(even) {background-color: #e7ffed;}
tr:nth-child(odd) {background-color:#e7f0ed;}
tr:nth-child(1) {
    background-color: #628ca6;
    color: white;
    font-weight: bold;
    font-size: 1.1em
}

th {
    background-color: #7fb9c2;
    color:  black;
}

tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}