* { box-sizing: border-box;}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: white;
    margin: 0;
    }

header, nav, main, footer {
    height: auto;
    width: 100%;
    margin: 0;
    margin-left:auto;
    margin-right:auto;

    }

header {   
    background-image: url(/assignments/lesson-6/images/vegies6.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color: orangered;
}

header h1 {
    margin: 0;
    padding: .3em;
    font-size: 4em;
}

header .subheading {
    font-size: 3em;
}

nav { 
    display: block;
    max-width: 45em;
}

nav button {
    margin: .2rem 2%;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    border-top: 1px solid white;
    border-bottom: .5em;
    background-color: #157A6E;
}

nav ul li {
    text-align: center;
    border-bottom: 1px solid white;
}

nav ul li a {  
    display: block;
    color: white;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1.2rem;    
}

nav li:last-child {border-bottom: none;}

nav ul li a:hover {background-color: #228E2E;}

nav ul li.active a {background-color: #228E2E;}

nav ul.hide {
    display: none;
}

main figure {margin: 0 0 0 2%;}

main figure.franklin img {
    width: 100%;
}
section.weather {
    width: 100%;
    }
div.current {
    margin-left:auto;
    margin-right:auto;
    max-width: 110px;
}

div.current img {max-width: 110px;}

section.forecast {
    display: none;
}

article {overflow: auto;}

article p.town-article img {
  width: 96%;
  margin: 0 5px 20px 5px;
}

footer {
    background-color: #157A6E;
    color: white;
    font-size: 14px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}