/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: white;
    
    }

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    height: auto;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    }

header {   
    background-image: url(/assignments/lesson-6/images/vegies6.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color: #a45c44;
    }
header h1 {
    font-size: 3em;
    }
header. imgage {}
header .subheading {
    font-size: 1.8em;
    }

nav { display: block}
nav button {display: none;}
nav ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #157A6E;
    
    }
nav ul li {
    text-align: center;
    border-bottom: 1px solid white;
    }
nav ul li a {    
    display: block;
    color: white;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    font-size: 19px;
    }
nav li:last-child {border-bottom: none;}
nav ul li.active a {background-color: #228E2E;}
nav ul li a:hover {background-color: #228E2E;}

main {}
main h2 {}
main figure {}
main figure img {
    width: 100%;
    max-width: 400px;
    }

section {
    clear: both;
    width: 100%;
    }
div.highlow {}
div.current {
    margin-left:auto;
    margin-right:auto;
    max-width: 110px;
    }
div.current img {
    max-width: 110px;
    }
div.conditions {}
section.forecast {
    display: none;
    }

article {
    overflow: auto;
    }
article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 96%; /* fill the page in the small/phone view */
  margin: 0 5px 20px 5px;
    }
footer {
    background-color: #157A6E;
    color: white;
    font-size: 14px;
    }
footer aside {}
footer>p {}    
 /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
