@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
    header {
        display: flex;
        flex-direction: row;  
    }
    
        .subheading {
            justify-content: flex-end;
            margin: 60px 10px;
            }
    
    nav button { display:none;}
    
    nav ul.hide { display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    nav ul {
        
        list-style-type: none;
        flex-flow: row;
        white-space: nowrap;
    }
    
    nav ul li {
        border-bottom: none; 
        border-right: 1px solid white;
    }
    
    nav ul li a {
        padding: 6px;
    }
    
    nav li:last-child {border-right: none;}
    
    main {
        border: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
    }
    
    main figure {
        

    }
    main figure.franklin img {
        padding: 7% 1em;
        max-width: 600px;
    }
    section {

    }
    
    div.current {max-width: 150px;}
    
    div.current img {max-width: 150px;}

    
    section.weather {
        width: 25%;
    } 

    section.forecast {
        width: 100%;
        display: table;
        padding: 1% 1em;
    }
    
    table {
        width: 100%;
        margin-left:auto;
        margin-right:auto;
        border: 1px solid black;
    }
    
    th, td {
        padding: 5px;
        border: 1px solid black;
    }
    
    article {
        clear: both;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    article p.town-article img {
        width: 50%; 
        float:right;
    }
}